<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand"
    href="#">Task Tracker</a>

  <div class="collapse navbar-collapse"
    id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"
        *ngIf="userIsAuthenticated">
        <a class="nav-link"
          routerLink="/tasks"
          routerLinkActive="active">All Tasks</a>
      </li>
      <li class="nav-item"
        *ngIf="userIsAuthenticated">
        <a class="nav-link"
          routerLink="/createTask"
          routerLinkActive="active">New Task</a>
      </li>
      <li class="nav-item"
        *ngIf="!userIsAuthenticated">
        <a class="nav-link"
          routerLink="/user/login"
          routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item"
        *ngIf="!userIsAuthenticated">
        <a class="nav-link"
          routerLink="/user/signup"
          routerLinkActive="active">Signup</a>
      </li>
      <li class="nav-item"
        *ngIf="userIsAuthenticated">
        <a class="nav-link"
          (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<!-- <mat-toolbar color="primary">
  <span>Task Tracker</span>
  <span>
    <button *ngIf="userIsAuthenticated"
      mat-button
      routerLink="/tasks"
      routerLinkActive="mat-accent">All Tasks</button>
    <button *ngIf="userIsAuthenticated"
      mat-button
      routerLink="/createTask"
      routerLinkActive="mat-accent">
      New Task</button>
  </span>
  <span>
    <button *ngIf="!userIsAuthenticated"
      mat-button
      routerLink="/user/login"
      routerLinkActive="mat-accent">Login</button>
    <button *ngIf="!userIsAuthenticated"
      mat-button
      routerLink="/user/signup"
      routerLinkActive="mat-accent">Signup</button>
    <button *ngIf="userIsAuthenticated"
      mat-button
      (click)="onLogout()">Logout</button>
  </span>
</mat-toolbar> -->
