<div *ngIf="isLoading" class="text-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <form (submit)="onLogin(loginForm)"
    #loginForm="ngForm" *ngIf="!isLoading">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" ngModel required>
        <div *ngIf="loginForm.controls.email.invalid" class="text-danger">Please enter a valid email.</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel required>
        <div *ngIf="loginForm.controls.password.invalid" class="text-danger">Please enter a valid password.</div>
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div *ngIf="isLoading" class="text-center mt-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>


<!-- <mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
  <form (submit)="onLogin(loginForm)"
    #loginForm="ngForm"
    *ngIf="!isLoading">
    <mat-form-field>
      <input matInput
        type="email"
        placeholder="Email"
        name="email"
        ngModel
        #emailInput="ngModel"
        required>
      <mat-error *ngIf="emailInput.invalid">Please enter valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
        type="password"
        placeholder="Password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        required>
      <mat-error *ngIf="passwordInput.invalid">Please enter valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button
      color="primary"
      type="submit">
      Login
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</mat-card> -->
