<!-- <form [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput
      formControlName="title"
      required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput
      formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Due Date</mat-label>
    <input matInput
      [matDatepicker]="dueDatePicker"
      formControlName="dueDate">
    <mat-datepicker-toggle matSuffix
      [for]="dueDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #dueDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Priority Level</mat-label>
    <mat-select formControlName="priority">
      <mat-option value="low">Low</mat-option>
      <mat-option value="medium">Medium</mat-option>
      <mat-option value="high">High</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button
    color="primary"
    type="submit">Submit</button>
</form> -->
