<div class="filter-bar">
  <mat-form-field class="filter-input">
    <input matInput
      [(ngModel)]="taskTitleFilter"
      placeholder="Search Task"
      (keyup)="filterTasks()">
  </mat-form-field>

  <mat-form-field class="filter-input">
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="priorityFilter"
      (selectionChange)="filterTasks()">
      <mat-option value="">Priority</mat-option>
      <mat-option value="High">High</mat-option>
      <mat-option value="Medium">Medium</mat-option>
      <mat-option value="Low">Low</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="filter-input">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="statusFilter"
      (selectionChange)="filterTasks()">
      <mat-option value="">Status</mat-option>
      <mat-option value="Completed">Completed</mat-option>
      <mat-option value="In Progress">In Progress</mat-option>
      <mat-option value="Not Started">Not Started</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button
    color="primary"
    (click)="resetFilters()">Reset</button>
</div>

<div class="table-wrap">
  <table class="table table-striped p-5">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <div *ngIf="tasks.length<=0"
      class="text-center">No tasks...</div>
    <tbody>
      <tr *ngFor="let task of filteredTasks">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.dueDate | date }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.status }}</td>
        <td><button mat-button
            color="primary"
            [routerLink]="['/editTask', task._id]">EDIT</button>
          <button mat-button
            color="warn"
            (click)="onTaskDelete(task._id)">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
