<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <div *ngIf="tasks.length<=0" class="text-center">Loading tasks...</div>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dueDate | date }}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.status }}</td>
      <td><button mat-button
          color="primary"
          [routerLink]="['/editTask', task._id]">EDIT</button>
        <button mat-button
          color="warn"
          (click)="onTaskDelete(task._id)">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true"
  *ngIf="tasks.length>0 && !isLoading">
  <mat-expansion-panel *ngFor="let task of tasks">
    <mat-expansion-panel-header>
      {{task.title}}
    </mat-expansion-panel-header>
    <p>{{task.description}}</p>
    <p>{{task.dueDate}}</p>
    <p>{{task.priority}}</p>
    <p>{{task.status}}</p>
    <p>{{task.creator}}</p>
    <mat-action-row>
      <button mat-button
        color="primary"
        [routerLink]="['/editTask', task._id]">EDIT</button>
      <button mat-button
        color="warn"
        (click)="onTaskDelete(task._id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<div class="no-task"
  *ngIf="tasks.length<=0">
  No tasks added yet...
</div> -->
